#!/bin/bash

# galaxy setup config file example

# GA_PREFIX: the prefix for the installation, the server
# and the galaxy-admin tools will use this folder as base path
# GA_VERSION stores the version tag to install the respective
# galaxy version. The server will be installed to the path
# configured as: GA_PREFIX/galaxy-GA_VERSION
# Available versions can be viewed on
# https://github.com/galaxyproject/galaxy/releases.
# GA_ADMIN stores the email adresses (comma separated) from
# the galaxy server administrators. Logins with these emails
# have access to the 'Admin' interface within galaxy.
# GA_URL is the URL where the (galaxy and ftp) server is reached, and
# GA_IP is the respective IP address of the server,
# GA_PORT the respective port the galaxy server listens
# and the httpd proxy forwards request to.
export GA_PREFIX="/home/galaxy"
export GA_VERSION="15.07"
export GA_ADMIN="admin@my-domain.com,another-admin@my-domain.com"
export GA_URL="galaxy.my-domain.com"
export GA_IP="192.168.0.99"
export GA_PORT="8080"
export GA_DATABASE="/home/galaxy/database"
export GA_TOOLSHED="/home/galaxy/toolshed"
export GA_DATAIMPORT="/share/genomes"

# GA_USER stores the system user name (string) and
# GA_UID the system user id (numeric) that runs the galaxy 
# server instance. The same holds for the system group
# name and id stored in GA_GROUP and GA_GID.
# On linux systems this can be retreived with the `id` command.
export GA_USER="galaxy"
export GA_UID="1000"
export GA_GROUP="grp_galaxy"
export GA_GID="1000"

# The following variables hold settings for the LDAP authentification
# for the httpd proxy and ftp servers.
# GA_LDAPKEY stores the password for the LDAP request user.
# GA_LDAPURL* store the URL to the ldap server(s) used for the HTTPD
# and FTPD daemons to send the authorization requests to.
# GA_LDAPUSR is the query object to retreive authorization from,
# you might also adjust the 'uid=%u' tag in the proftpd.config file.
# GA_LDAPDN stores the LDAP domain name.
# GA_LDAPDNUSR the user specifications that request the LDAP credentials.
# GA_LDAPMAIL is the mail suffix (after the @) for the users used
# to specify the ftp upload home folder.
export GA_LDAPKEY="Keep!Me!Private"
export GA_LDAPURL_HTTPD="ldap://ldap-server.my-domain.com/dc=my-domain,dc=com?uid?sub?"
export GA_LDAPURL_FTPD="ldap://ldap-server.my-domain.com/??sub"
export GA_LDAPUSR="(objectClass=person)"
export GA_LDAPDN="dc=my-domain,dc=com"
export GA_LDAPDNUSR="uid=galaxy,ou=specialusers"
export GA_LDAPMAIL="my-domain.com"

# This section of variables stores the credentials and settings for the
# SQL database used by galaxy. It contains
# GA_SQLUSER defining the SQL user name who queries and owns the
# GA_SQLDB which is the database name.
# GA_SQLKEY is the password for that user to access the data base.
export GA_SQLUSER="galaxy_sql"
export GA_SQLKEY="Also!Keep!Me!Private"
export GA_SQLDB="galaxyDb"

